.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    & .checkbox{
        width: 20%;
    }
    & .content{
        width: 40%;
        
    }
    & .btn{
        width: 100px;
    }
}
.Medium{
    background-color: yellow;
}
.High{
    background-color: red;
}
.Low{
    background-color:aquamarine;
}